uvicorn==0.32.1
hvac~=2.3.0
fastapi~=0.115.12
pydantic~=2.11.3
starlette~=0.46.2
redis==5.2.1
httpx==0.28.1

# Documentation
mkdocs==1.5.3
mkdocs-material==9.5.9
mkdocs-autorefs==0.5.0
pymdown-extensions==10.7
